{% extends "layout_admin.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    {% block fos_user_content %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        <div class="container">
            <div class="formWork">
                <div class="row">
                    <div class="col-12 col-md-9 mx-auto">
                        <h1>Editer mon compte</h1>
                    </div>
                    <div class="col-12 col-md-3 justify-content-end d-none d-lg-flex d-xs-none">
                        <a class="btn btn-warning w-500" href="{{ path('fos_user_profile_show') }}" role="button">
                            <i class="fas fa-arrow-left"></i>
                            Retour
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row d-flex justify-content-center">
                    <img src="https://via.placeholder.com/300x300" alt="logo" class="mb-3 mt-4"/>
                    <div class="ml-3 mt-2">
                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="Envoyer" class="btn btn-primary w-100"/>
                        </div>
                        {{ form_end(form) }}
                        <div class="col-12 mx-auto d-flex justify-content-center d-lg-none">
                            <a class="btn btn-warning w-500" href="{{ path('admin_management') }}">
                                <i class="fas fa-arrow-left"></i>
                                Retour
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock %}