{% extends "layout_admin.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    {% block fos_user_content %}
        <div class="container">
            <div class="formWork">
                <div class="row">
                    <div class="col-12 col-md-9 mx-auto">
                        <h1>EDITER MON COMPTE</h1>
                    </div>
                    <div class="col-12 col-md-3 justify-content-end d-none d-lg-flex d-xs-none">
                        <a class="btn btn-warning w-500" href="{{ path('fos_user_profile_show') }}" role="button">
                            <i class="fas fa-arrow-left"></i>
                            Retour au profil
                        </a>
                    </div>
                </div>
                <hr class="p-3" width="90%">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-md-12 col-lg-6">
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="col-md-12 col-lg-6">
                        {{ form_row(form.phoneNumber) }}
                    </div>
                    <div class="col-md-12 col-lg-6">
                        {{ form_row(form.work) }}
                    </div>
                    <div class="col-md-12 col-lg-12">
                        {{ form_row(form.mail) }}
                    </div>
                    <div class="col-md-12 col-lg-12">
                        {{ form_row(form.current_password, { 'label': 'Merci de confirmer votre mot de passe' }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <div>
                                <input class="btn btn-dark h-100" type="submit"
                                       value="{{ 'profile.edit.submit'|trans }}"/>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center d-lg-none">
                    <a class="btn btn-warning" href="/">
                        <i class="fas fa-arrow-left"></i>Retour à l'accueil
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}