<div class="row px-2 justify-content-center">
    <div>
        <h1>MON COMPTE</h1>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
        <img src="https://via.placeholder.com/200x200" alt="logo" class="mb-3"/>
    <div class="ml-3 mt-2">
            <p>Nom du profil: {{ user.username }}</p>
            <p>Adresse mail: {{ user.email }}</p>
            <p>Fonction: {{ user.work }}</p>
            <p>Téléphone: {{ user.phoneNumber }}</p>
            <p>Dernière connexion: {{ user.lastLogin|date("m/d/Y") }}</p>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary"><i class="fas fa-address-card"></i>
        Editer le profil</a>
</div>







