{% extends "layout_admin.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    {% block fos_user_content %}
        <div class="container">
            <div class="formWork">
                <div class="row">
                    <div class="col-12 col-md-9 mr-3">
                        <h1>Mon compte</h1>
                    </div>
                </div>
                <hr>
                <div class="row d-flex justify-content-center">
                    <img src="https://via.placeholder.com/200x200" alt="logo" class="mb-3"/>
                    <div class="ml-3 mt-2">
                        <p>Nom: {{ user.lastName }}</p>
                        <p>Prénom: {{ user.firstName }}</p>
                        <p>Email de connexion: {{ user.email }}</p>
                        <p>Email de contact: {{ user.mail }}</p>
                        <p>Fonction: {{ user.work }}</p>
                        <p>Téléphone: {{ user.phoneNumber }}</p>
                        <p>Dernière connexion: {{ user.lastLogin|date("d/m/Y") }}</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-dark h-100">
                        <i class="fas fa-address-card"></i>Editer le profil</a>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock %}




