{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="formStatut">
            {{ form_start(edit_form) }}

            <div class="row">

                <div class="col-12 col-md-8 mx-auto">
                    <h1>Edition du statut "{{ statut.name }}"</h1>
                </div>
                <div class="col-12 col-md-3 mx-auto">
                    <a class="btn btn-warning" href="{{ path('statut_index') }}">Liste des statuts</a>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-12 col-md-8 mx-auto">

                    <div class="form-row">

                        <div class="form-group form-control-lg col-8 mx-auto ">
                            {{ form_label(edit_form.name) }}
                            {{ form_widget(edit_form.name) }}
                        </div>

                        <div class="form-group form-control-lg col-4 mx-auto">
                            {{ form_label(edit_form.color) }}
                            {{ form_widget(edit_form.color) }}
                        </div>

                    </div>


                    <div class="d-flex justify-content-center pt-5">
                        {{ form_start(edit_form) }}
                        <input class="btn btn-dark" type="submit" value="Editer ce statut"/>
                        {{ form_end(edit_form) }}
                    </div>

                    {{ form_end(edit_form) }}

                </div>
            </div>


        </div>


    </div>
{% endblock %}
