{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center">
            <a href="/" class="navbar-brand d-flex w-50 mr-auto">
                <img src="{{ asset('/images/logo.png') }}" alt="logo"/>
                <div class="text d-none d-lg-block">Travaux</div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                    </li>

                    {# START SHEET HISTORY #}
                    {% if app.user.hasRole('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_history_sheets') }}">Historique des fiches</a>
                        </li>
                    {% endif %}

                    {% if app.user.hasRole('ROLE_EMOP') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('history_emop_sheets') }}">Historique des fiches</a>
                        </li>
                    {% endif %}

                    {% if app.user.hasRole('ROLE_LYCEE') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sheet_index') }}">Historique des fiches</a>
                        </li>
                    {% endif %}
                    {# END SHEE HISTORY #}

                    {# START GESTION #}
                    {% if app.user.hasRole('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_management') }}">Gestion</a>
                        </li>
                    {% endif %}

                    {% if app.user.hasRole('ROLE_EMOP') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_management') }}">Gestion</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{{ path('fos_user_profile_show') }}" class="nav-link">
                            Mon compte
                        </a>
                    </li>
                    {# END GESTION #}

                </ul>
                <ul class="nav navbar-nav ml-auto w-100 deconnect justify-content-end">
                      <li class="nav-item">
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}




