{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row px-2 justify-content-center mb-5">
            <div>
                <h1>LISTE DES FICHES</h1>
            </div>
        </div>
        {{ form_start(form,{'attr':{'onChange':'submit()' }}) }}
        {{ form_widget(form ) }}
        {{ form_end(form) }}
        <div class="row px-4">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col" class="t-date">Date de création</th>
                    <th scope="col">Lycée</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Type de travaux</th>
                    <th scope="col" class="t-date">Date</th>
                    <th scope="col">Analyse de la demande</th>
                    <th scope="col" class="text-center t-status">Statuts</th>
                    <th scope="col" class="t-button"></th>
                </tr>
                </thead>
                <tbody>
                {% for sheet in sheets %}
                    <tr>
                        <td>{{ sheet.creationDate|date("d/m/Y") }}</td>
                        <td>{{ sheet.user.lycee.name }}</td>
                        <td>{{ sheet.user.lycee.city }}</td>
                        <td>{{ sheet.job.name }}</td>
                        <td></td>
                        <td></td>
                        <td class="text-right" width="auto">
                            {% if sheet.urgent == true %}
                                <span class="badge badge-pill badge-warning text-dark mx-1"> URGENT </span>
                            {% endif %}
                            <span class="badge badge-info mx-1">{{ sheet.status.name }}</span>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-dark text-warning"
                               href="{{ path('sheet_show', { 'id': sheet.id }) }}">Voir</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}