{% include 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="formSheet">
            <div class="row">
                <div class="col-md-12 col-lg-9 titre">
                    <h1>Gestion</h1>
                </div>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12 blanc">
                <div class="row">
                    <div class=" col-12 col-md-4 col-sm-12 my-auto ">
                        <a class="btn btn-info btn-block my-2 "
                           href="{{ path('admin_user_new') }}">Ajouter un nouvel utilisateur</a>
                    </div>
                    <div class="col-12 col-md-4 col-sm-12 my-auto ">
                        <a class="btn btn-info btn-block my-2 "
                           href="{{ path('admin_lycee_new') }}">Ajouter un nouveau lycée </a>
                    </div>
                    <div class="col-12 col-md-4 col-sm-12 my-auto ">
                        <a class="btn btn-info btn-block  my-2 "
                           href="{{ path('admin_metier_new') }}">Ajouter un metier à la liste</a>
                    </div>
                </div>
                <div class="row my-4 ">
                    <div class="col-12 col-md-4 my-1 d-inline ">
                        <a href="/admin/gestion/user" id="user"
                           class="btn btn-outline-secondary btn-block btn-sm text-muted">Voir tous les utilisateurs</a>
                    </div>
                    <div class="col-12 col-md-4 my-1 d-inline ">
                        <a href="/admin/gestion/school" id="school"
                           class="btn btn-outline-secondary btn-block btn-sm text-muted">Voir tous les lycées</a>
                    </div>
                    <div class="col-12 col-md-4 my-1 d-inline ">
                        <a href="/admin/gestion/job" id="job"
                           class="btn btn-outline-secondary btn-block btn-sm text-muted">Voir tous les corps metiers</a>
                    </div>
                    <div class="col-12 col-md-4 my-1 d-inline ">
                        <a href="/admin/gestion/statut" id="status"
                           class="btn btn-outline-secondary btn-block btn-sm text-muted">Voir tous les statuts</a>
                    </div>
                    <div class="col-12 col-md-4 my-1 d-inline ">
                        <a href="/admin/gestion/analysis" id="status"
                           class="btn btn-outline-secondary btn-block btn-sm text-muted">Voir toutes les analyses</a>
                    </div>
                </div>
            </div>
            {% if app.request.attributes.get("list") == 'user' %}
                <div class="row">
                    <div class="table-responsive-xl mx-auto w-100">
                        <table class="table table-sm table-light">
                            <thead class="thead-light border-0">
                            <tr>
                                <th scope="col">Compte utilisateur</th>
                                <th scope="col">Fonction</th>
                                <th scope="col">Email</th>
                                <th scope="col">Numéro de téléphone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in user %}
                                <tr>
                                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                                    <td>{{ user.Work }} </td>
                                    <td>{{ user.email }} </td>
                                    <td>{{ user.phoneNumber }} </td>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if app.request.attributes.get("list") == 'school' %}
                {{ form_start(form,{'attr':{'onChange':'submit()' }}) }}
                {{ form_widget(form ) }}
                {{ form_end(form) }}
                <div class="row">
                    <div class="table-responsive-xl mx-auto w-100">
                        <table class="table table-sm table-light">
                            <thead class="thead-light border-0">
                            <tr>
                                <th scope="col">Nom du site</th>
                                <th scope="col">Adresse</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for school in school %}
                                <tr>
                                    <td>{{ school.name }}</td>
                                    <td>{{ school.address }},<strong> {{ school.postalCode }} {{ school.city }}</strong>
                                    </td>
                                    <td>
                                        <a class="badge badge-dark mx-1 w-100"
                                           href="{{ path('admin_lycee_edit', { 'id': school.id }) }}">Modifier le
                                            site</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if app.request.attributes.get("list") == 'job' %}
                <div class="row">
                    <div class="table-responsive-xl mx-auto w-100">
                        <table class="table table-sm table-light">
                            <thead class="thead-light border-0 mx-auto">
                            <tr>
                                <th scope="col">Metier</th>
                                <th scope="col">Modifier le metier</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job in job %}
                                <tr>
                                    <td>{{ job.name }}</td>
                                    <td>
                                        <a class="badge badge-dark mx-1 w-25"
                                           href="{{ path('admin_metier_edit', { 'id': job.id }) }}">Modifier le
                                            metier</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if app.request.attributes.get("list") == 'status' %}
                <div class="row">
                    <div class="table-responsive-xl mx-auto w-100">
                        <table class="table table-sm table-light">
                            <thead class="thead-light border-0 mx-auto">
                            <tr>
                                <th scope="col">Metier</th>
                                <th scope="col">Modifier le metier</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for status in status %}
                                <tr>
                                    <td>{{ status.name }}</td>
                                    <td>
                                        <a class="badge badge-dark mx-1 w-25"
                                           href="{{ path('admin_statut_edit', { 'id': status.id }) }}">Modifier le
                                            metier</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if app.request.attributes.get("list") == 'analysis' %}
                <div class="row">
                    <div class="table-responsive-xl mx-auto w-100">
                        <table class="table table-sm table-light">
                            <thead class="thead-light border-0 mx-auto">
                            <tr>
                                <th scope="col">Metier</th>
                                <th scope="col">Modifier le metier</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for analysis in analysis %}
                                <tr>
                                    <td>{{ analysis.name }}</td>
                                    <td>
                                        <a class="badge badge-dark mx-1 w-25"
                                           href="{{ path('admin_analysis_edit', { 'id': analysis.id }) }}">Modifier l'analyse</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
