{% extends 'admin/management/management_template.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block listing %}
    {{ form_start(form,{'attr':{'onChange':'submit()' }}) }}
    {{ form_widget(form ) }}
    {{ form_end(form) }}
    <div class="row">
        <div class="table-responsive-xl mx-auto w-100">
            <table class="table table-sm table-light">
                <thead class="thead-light border-0">
                <tr>
                    <th scope="col">Nom du site</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Département</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for school in school %}
                    <tr>
                        <td><strong>{{ school.name }}</strong></td>
                        <td>{{ school.address }}, {{ school.postalCode }} {{ school.city }}</td>
                        <td>{{ school.department.name }}</td>

                        <td>
                            <a class="badge badge-dark mx-1 w-auto p-3"
                               href="{{ path('admin_lycee_edit', { 'id': school.id }) }}">
                                Modifier le site</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if school is empty %}
                <div class="col-12 text-center pb-3">
                    <p>Aucun site dans ce département</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}