{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="formWork">
            <div class="row">
                <div class="col-12 col-md-9 mx-auto">
                    <h1>FORMULAIRE DE CRÉATION D'UTILISATEURS</h1>
                </div>
                <div class="col-12 col-md-3 justify-content-end d-none d-lg-flex d-xs-none">
                    <a class="btn btn-warning w-500" href="{{ path('admin_manage_school') }}" role="button">
                        <i class="fas fa-arrow-left"></i>
                        Retour
                    </a>
                </div>
            </div>
            <hr class="p-3" width="90%">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12 col-lg-6 mb-2">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-12 col-lg-6 mb-2">
                    {{ form_row(form.username) }}
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.mail) }}
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.phoneNumber) }}
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.work) }}
                </div>
                <div class="col-md-12 col-lg-6 pt-3">
                    <div class="mx-3">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles, {'attr': {'class': 'd-inline-flex col-12'}}) }}
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.lycee) }}
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.departments, {'attr': {'class': 'd-flex flex-wrap col-10'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <div>
                            <input class="btn btn-dark h-100 mt-3" type="submit" value="Créer l'utilisateur"/>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="row">
            <div class="col-12 mx-auto d-flex justify-content-center d-lg-none">
                <a class="btn btn-warning" href="{{ path('admin_manage_school') }}">
                    <i class="fas fa-arrow-left"></i>
                    Retour à l'accueil
                </a>
            </div>
        </div>
    </div>
{% endblock %}
