{% include 'layout_admin.html.twig' %}
{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="editFormWork">
            <div class="row">
                <div class="col-12 col-md-8 mx-auto">
                    <h1>Edition d'un Métiers</h1>
                </div>
                <div class="col-12 col-md-2 mx-auto d-sm-block d-none">
                    <a class="btn btn-warning" href="{{ path('metier_index') }}">retour a l'acceuil</a>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mx-auto order-1 order-md-0">
                    {{ form_start(edit_form.name) }}
                    <div class="p-2">
                        {{ form_row(edit_form.name) }}
                    </div>
                    <div class="pt-2">
                            {{ form_start(edit_form) }}
                            <input class="btn btn-dark" type="submit" value="Editer ce statut"/>
                            {{ form_end(edit_form) }}
                    </div>
                    {{ form_end(edit_form.name) }}

                </div>
                <div class="col-12 col-md-4 mx-auto order-0 order-md-1">
                    <div class="pt-2">
                        <ul>
                            {% for metier in metiers %}
                                <li>
                                    {{ metier.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center d-sm-block d-md-none">
                    <a class="btn btn-warning" href="{{ path('metier_index') }}">retour a l'acceuil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
