{% extends 'layout_admin.html.twig' %}
{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="editFormWork">
            <div class="row">
                <div class="col-12 col-md-8 mx-auto">
                    <h1>Édition de {{ metier.name }}</h1>
                </div>
                <div class="col-12 col-md-3 justify-content-end d-none d-lg-flex d-xs-none">
                    <a class="btn btn-warning w-500" href="{{ path('admin_management') }}">
                        <i class="fas fa-arrow-left"></i>
                        Retour
                    </a>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 mx-auto order-1 order-md-0">
                    {{ form_start(edit_form.name) }}
                    <div class="">
                        {{ form_row(edit_form.name) }}
                    </div>

                    <div class="col mx-auto d-flex justify-content-center">
                        {{ form_start(edit_form) }}
                        <input class="btn btn-dark " type="submit" value="Éditer ce métier"/>
                        {{ form_end(edit_form) }}
                    </div>
                    {{ form_end(edit_form.name) }}
                    <div class="col mx-auto d-flex justify-content-center d-lg-none">
                        <a class="btn btn-warning" href="{{ path('admin_management') }}">
                            <i class="fas fa-arrow-left"></i>
                            Retour
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5 mx-auto order-0 order-md-1">
                    <div class="pt-2">
                        <table class="table">
                            <tbody>
                            {% for metier in metiers %}
                                <tr>
                                    <td>{{ metier.name }}</td>
                                    <td>
                                        <a class="btn btn-edit" href="{{ path('admin_metier_edit', { 'id': metier.id }) }}">
                                            <span>Éditer </span>
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
