{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-4 d-inline">
                <div class="d-inline col-md-4">
                    <h1 class="d-inline">Création d'un lycée</h1>
                </div>
                <div class="col-md-4 d-sm-block d-none float-md-right ">
                    <a class="btn btn-warning" href="{{ path('lycee_index') }}">Retour à la liste des lycées</a>
                </div>
                <hr/>
                <div class="col-12 col-md-6 mx-auto">
                    {{ form_start(form) }}
                    <div class="p-2">
                        {{ form_row(form.name) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.postalCode) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.departments) }}
                    </div>
                </div>
                <div class="d-flex justify-content-center pt-5">
                    <input class="btn btn-dark" type="submit" value="Ajouter un lycée"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
