{% extends 'layout_admin.html.twig' %}
{% block body %}
    <h1>Lycee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lycee.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ lycee.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ lycee.address }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ lycee.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ lycee.city }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('lycee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lycee_edit', { 'id': lycee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
