{% extends 'base.html.twig' %}

{% block body %}
    <h1>Analyzes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for analysis in analyzes %}
            <tr>
                <td><a href="{{ path('analysis_show', { 'id': analysis.id }) }}">{{ analysis.id }}</a></td>
                <td>{{ analysis.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('analysis_show', { 'id': analysis.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('analysis_edit', { 'id': analysis.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('analysis_new') }}">Create a new analysi</a>
        </li>
    </ul>
{% endblock %}
