{% extends 'layout_admin.html.twig' %}
{% block title %}Ajouter une analyse | E-Maintenance{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
<div class="container">
    <div class="formWork">
        <div class="row">
            <div class="col-12 col-md-9 mx-auto">
                <h1>Ajouter une analyse de demande</h1>
            </div>
            <div class="col-12 col-md-3 justify-content-end d-none d-lg-flex d-xs-none">
                <a class="btn btn-warning w-500" href="{{ path('admin_manage_analyse') }}" role="button">
                    <i class="fas fa-arrow-left"></i>
                    Retour
                </a>
            </div>
        </div>
        <div>

            <hr class="p-3">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12 col-lg-7 mb-2">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-12 col-lg-5 mb-2">
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Créer l'analyse de demandes" class="btn btn-dark w-500"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center d-lg-none">
                    <a class="btn btn-warning w-500" href="{{ path('admin_manage_analyse') }}">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
