{% include 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="default-form">
            <div class="row">
                <div class="col-9 text-center">
                    <h1>Création d'une nouvelle analyse de demande</h1>
                </div>
                <div class="col-3">
                    <div class="d-flex justify-content-start"></div>
                    <a class="btn btn-lg btn-warning" href="{{ path('analysis_index') }}" role="button">
                        <i class="fas fa-arrow-left"></i>
                        <strong>Retour a la liste</strong>
                    </a>
                </div>
            </div>
            <hr class="p-3">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12 col-lg-7 mb-2">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-12 col-lg-5 mb-2">
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Créer la nouvelle analyse de demande" class="btn btn-dark"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
