{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="default-form">
            <div class="row">
                <div class="col-md-12 col-lg-8 text-center title">
                    <h1>Création d'une nouvelle analyse de demande</h1>
                </div>
                <div class="ml-auto p-2 d-none d-lg-block d-xs-none">
                    <a class="btn btn-lg btn-warning w-500" href="{{ path('admin_manage_analyse') }}" role="button">
                        <i class="fas fa-arrow-left"></i>
                        Retour à la liste
                    </a>
                </div>
            </div>
            <hr class="p-3">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12 col-lg-7 mb-2">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-12 col-lg-5 mb-2">
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Créer l'analyse de demandes" class="btn btn-dark w-500"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center d-lg-none">
                    <a class="btn btn-warning w-500" href="{{ path('admin_manage_analyse') }}">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
