{% extends 'layout_admin.html.twig' %}

{% block content %}
    <h1>Analysis</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ analysis.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if analysis.date %}{{ analysis.date|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ analysis.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_analysis_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_analysis_edit', { 'id': analysis.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
