{% include 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="formSheet">
            <div class="row">
                <div class="col-md-12 col-lg-9 titre">
                    <h1>Formulaire de création d'une fiche</h1>
                </div>
                <div class="col-12 col-md-3 justify-content-end d-none d-lg-flex d-xs-none">
                    <a class="btn btn-lg btn-warning w-500" href="{{ path('lycee_sheet_index') }}">
                        <i class="fas fa-arrow-left"></i>
                        Retour à la liste
                    </a>
                </div>
            </div>
            <hr>

            {{ form_start(form) }}

            {{ form_widget(form.urgent) }}
            {{ form_errors(form.urgent) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.startWork) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.endWork) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    {{ form_row(form.subject) }}
                </div>
                <div class="col-md-12 col-lg-12">
                    {{ form_row(form.description) }}
                </div>
                <div class="col-md-12 col-lg-12">
                    {{ form_row(form.job) }}
                </div>
                <div class="col-md-12 col-lg-12">
                    {{ form_row(form.buildings) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.constraintsBuildings) }}
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form_row(form.constraintsTechnicals) }}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Envoyer la demande" class="btn btn-dark"/>
                {{ form_end(form) }}
            </div>
            <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center d-lg-none">
                    <a class="btn btn-warning" href="{{ path('lycee_sheet_index') }}">
                        <i class="fas fa-arrow-left"></i>
                        Retour à la liste
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}