{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row mx-5">
            <div class="col d-flex">
                <h1 class="align-self-baseline">FICHE DE TRAVAUX</h1>
                <p class="align-self-baseline ml-5 w-400 h4">{{ sheet.user.lycee.name|upper }}</p>
            </div>
            <div class="col-auto justify-content-end d-none d-lg-flex d-xs-none align-content-start">
                <a class="btn btn-warning w-500" href="
                {% if app.user.hasRole('ROLE_ADMIN') %}
                {{ path('admin_history_sheets') }}
                {% elseif app.user.hasRole('ROLE_EMOP') %}
                {{ path('emop_history_sheets') }}
                {% elseif app.user.hasRole('ROLE_LYCEE') %}
                {{ path('lycee_sheet_index') }}
                {% endif %}
                ">
                    <i class="fas fa-arrow-left mr-4"></i>
                    Retour à la liste
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col jumbotron d-inline-flex px-1 pt-4 pb-2 mx-3 mt-4">
                {% if sheet.urgent %}
                    <div class="col-auto ml-lg-5 mb-3">
                    <span class="badge badge-pill badge-urgent badge-warning mx-1">
                        Urgent
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    </div>
                {% endif %}
                <div class="col d-flex">
                    <p class="align-self-center mx-5 w-400 h4">
                        {{ sheet.subject }}
                    </p>
                </div>
                {% if app.user.hasRole('ROLE_EMOP') %}

                    <div class="col-auto ml-lg-5 mb-3">
                    <span>
                        <a class="badge badge-primary badge-urgent mr-5"
                           href="
                            {{ path('emop_sheet_edit', { 'id': sheet.id }) }}
                            ">Modifier cette fiche</a>
                    </span>
                    </div>

                {% endif %}
            </div>
        </div>
        <div class="row text-center my-5">
            <div class="col-lg-6">
                <p class="h5">{{ 'Date souhaitée de début des travaux'|upper }}</p>
                <p>{% if sheet.startWork %}{{ sheet.startWork|date('d / m / Y') }}{% endif %}</p>
            </div>
            <div class="col-lg-6">
                <p class="h5">{{ 'Date souhaitée de fin des travaux'|upper }}</p>
                <p>{% if sheet.endWork %}{{ sheet.endWork|date('d / m / Y') }}{% endif %}</p>
            </div>
        </div>
        <div class="card-deck mx-1 mt-1 mx-lg-5 mt-lg-5">
            <div class="card m-2">
                <div class="card-header text-center">
                    <p class="h5">{{ 'Description de la demande'|upper }}</p>
                </div>
                <div class="m-3 my-lg-3 mx-lg-5">
                    <p>{{ sheet.description }}</p>
                </div>
            </div>
        </div>
        <div class="row text-center mt-5">
            <div class="col-lg-6">
                <p class="h5">{{ 'Bâtiment concerné'|upper }}</p>
                <p>{{ sheet.buildings }}</p>
            </div>
            <div class="col-lg-6">
                <p class="h5">{{ 'metier concerné'|upper }}</p>
                <p>{{ sheet.job.name }}</p>
            </div>
        </div>
        <div class="card-deck mx-1 mt-1 mx-lg-5 mt-lg-3">
            <div class="card m-2 mr-lg-4">
                <div class="card-header text-center">
                    <p class="h5">{{ 'Contraintes de fonctionnement de l\'établissement'|upper }}</p>
                </div>
                <div class="m-3 my-lg-3 mx-lg-5">
                    <p>{{ sheet.constraintsBuildings ?? 'Non renseigné' }}</p>
                </div>
            </div>
            <div class="card m-2 ml-lg-4">
                <div class="card-header text-center">
                    <p class="h5">{{ 'Contraintes techniques'|upper }}</p>
                </div>
                <div class="m-3 my-lg-3 mx-lg-5">
                    <p>{{ sheet.constraintsTechnicals ?? 'Non renseigné' }}</p>
                </div>
            </div>
        </div>
        <div class="row jumbotron p-0 mx-1 mt-5"
             style="border-style: solid; border-color: {{ sheet.status.color }}">
            <div class="col-lg-auto col-12 d-flex justify-content-center align-self-center py-2"
                 style="background-color: {{ sheet.status.color }}">
                    <span class="text-light pr-2 pt-2 h5">
                        {{ sheet.status.name|upper }}
                        <i class="far fa-clock mx-1"></i>
                    </span>
            </div>
            <div class="col text-center align-self-end py-2">
                {% if sheet.analysis %}
                    <p class="mx-5 w-400 h5">
                        {{ sheet.analysis.name|upper }}
                    </p>
                {% else %}
                    La fiche n'a pas encore été analysée.
                {% endif %}
            </div>
        </div>
        <div class="col text-center mt-5 mt-lg-5 pt-lg-5">
            <h1> COMMENTAIRES </h1>
        </div>
        <div class="bg-comments my-5 pt-5">
            <div class="row">
                {% if sheet.comments is empty %}
                    <div class="col-12 text-center pb-3">
                        <p>Aucun commentaire pour le moment</p>
                    </div>
                {% endif %}
            </div>
            {% for comment in sheet.comments %}
                <div class="mx-2 mx-lg-4 py-lg-4 row {% if comment.user.id == app.user.id %}flex-row-reverse{% endif %}">
                    <div class="col-auto d-none d-lg-block">
                        <img class="" src="https://via.placeholder.com/150x150" alt="logo"/>
                    </div>
                    <div class="col col-lg-9">
                        <div class="card mb-4 my-lg-4 {% if comment.user.roles.0 == 'ROLE_LYCEE' %}bg-site {% elseif comment.user.roles.0 == "ROLE_ADMIN" %} bg-admin {% else %}bg-emop {% endif %} border-0">
                            <div class="card-header {% if comment.user.id == app.user.id %}justify-content-end {% endif %} text-light d-inline-flex border-0 pb-0">
                                <p class="w-500 mx-2 text-light">{{ comment.user.username|upper }}</p>
                                <p class="mx-2 text-light"><strong>{{ comment.date|date('d M Y') }}</strong></p>
                                {% if loop.last and comment.user.id == app.user.id %}
                                    <div class="col mx-auto d-flex justify-content-end">
                                        <a href="#deleteModal{{ comment.id }}" data-toggle="modal" class="text-light">Supprimer
                                            ce commentaire
                                            <i class="fas fa-trash-alt"></i></a>
                                    </div>
                                    <div id="deleteModal{{ comment.id }}" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmation</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Voulez-vous vraiment supprimer le message ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="row mx-auto">
                                                        <div class="col-4 mr-4">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Annuler
                                                            </button>
                                                        </div>
                                                        <div class="col-4 ml-4">
                                                            {{ render(controller('AppBundle:Comment:delete', {'id':comment.id})) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-body bg-light text-dark pt-3 pb-5 px-2 px-lg-5 {% if comment.user.roles.0 == 'ROLE_LYCEE' %}border-site {% elseif comment.user.roles.0 == "ROLE_ADMIN" %}border-admin{% else %} border-emop {% endif %}">
                                <img class="col-auto d-lg-none" src="https://via.placeholder.com/100x100" alt="logo"
                                     {% if comment.user.id == app.user.id %}class="float-right"{% else %} class="float-left"{% endif %} />
                                <div class="col">{{ comment.content }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col px-5">
                    {% for message in app.flashes('comment') %}
                        <div class="alert alert-warning alert-dismissible fade show text-center">
                            {{ message }}
                            <button type="button" class="close position-relative" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mx-5">
            <div class="col d-flex">
                <h1> NOUVEAU COMMENTAIRE </h1>
            </div>
            <div class="col-auto d-none d-lg-flex d-xs-none align-content-start">
                <a class="btn btn-primary w-500" href="#"><i class="fas fa-arrow-up mr-4"></i>Retour aux informations de
                    la fiche</a>
            </div>
        </div>
        <hr>
        {{ form_start(form) }}
        <div id="msg_anchor" class="mx-4 py-4 row flex-row-reverse comments">
            <div class="col-auto">
                <img class="d-none d-lg-block" src="https://via.placeholder.com/150x150" alt="logo"/>
            </div>
            <div class="col-lg-9">
                {{ form_row(form.content) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Envoyer le commentaire" class="btn btn-dark h-100"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}